<div class="posts-index">
  <h1 class="posts-index__title">参加者のコーディネート一覧</h1>

  <div class="posts-index__actions">
    <%= link_to "コーディネートを投稿する", new_event_post_path(@event), class: "posts-index__btn" %>
    <%= link_to "イベント詳細へ戻る", event_path(@event), class: "posts-index__link" %>
  </div>

  <% if @posts.present? %>
    <div class="posts-index__grid">
      <% @posts.each do |post| %>
        <div class="post-card">
          <% if post.image.attached? %>
            <%= image_tag post.image, class: "post-card__img" %>
          <% end %>
            <div class="post-card__meta">
              <div class="post-card__name">
                <%= link_to post.user.name, event_post_path(@event, post), class: "post-card__name-link" %>
              </div>
              <div class="post-card__text"><%= simple_format(post.body) %></div>

                <% if post.user_id == current_user.id %>
                 <div class="post-card__actions">
                   <%= link_to "編集",
                         edit_event_post_path(@event, post),
                         class: "post-card__action" %>

                  <%= button_to "削除",
                          event_post_path(@event, post),
                          method: :delete,
                          data: { turbo_confirm: "この投稿を削除しますか？" },
                          class: "post-card__action post-card__action--danger",
                          form: { class: "post-card__action-form" } %>
                  </div>
               <% end %>
            </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>まだ投稿がありません</p>
  <% end %>
</div>
